.hero {
  box-sizing: border-box;
  height: calc(100vh - 100px);
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .wrapper {
    max-width: 1366px;
    width: 99%;
    height: 100%;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;

    .textContainer {
      width: 80%;
      text-align: center;
      color: white;

      h2 {
        font-size: 35px;
        color: rebeccapurple;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 150px;
        font-weight: bold;
        transition: color 0.3s ease-in-out;
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 30px;
        cursor: pointer;

        button {
          all: unset;
          display: block;
          width: 300px;
          height: 60px;
          padding: 0px 0px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          cursor: pointer;
          font-weight: 300;
          transition: 0.3s;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
}
