@import "../../app.scss";

.navbar {
  height: 100px;
  width: 100vw;
  background: transparent;

  .wrapper {
    max-width: 1366px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
      margin-right: 10px;
    }

    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: none;
        background: transparent;
        outline: none;
        padding: 0;
        cursor: pointer;
        background-color: transparent;

        img {
          width: 22px;
          height: 22px;
          filter: grayscale(80%);
          transition: all 0.3s ease-in-out;

          @include mobile {
            filter: grayscale(0%);
          }

          &:hover {
            background-color: transparent;
            filter: grayscale(0%);
            transform: scale(1.1);
          }

          &:active {
            transform: scale(0.9);
            opacity: 0.7;
          }
        }
      }
    }
  }
}
